$fontePrincipal: Poppins, sans-serif;
$corPrincipal: #69B99D;
$corImg: #CCF4E6;
$textColor: #878888;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
}

section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: $fontePrincipal;
}

hr{
    color: #CCF4E6;
}

span{
    color: $corPrincipal;
}

.container{
    margin-left: 10vw;
    margin-right: 10vw;
}

h5{
    color: $textColor;
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: $fontePrincipal;
    justify-content: space-between;
    padding: 0 10%;
    height: 3.5em;
    .navigation_header{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 3em;
        z-index: 2;
        a{
            text-decoration: none;
            color: #878888;
            transition: 1s;
        }
        a:hover{
            color: var(--color-white);
        }
    }
    .active{
        background: var(--color-dark3);
        padding: 10px;
        border-radius: 10px;
    }
    .btn_icon_header{
        background: transparent;
        border: none;
        color: var(--color-white);
        display: none;
    }
    @media screen and (max-width: 820px) {
        .navigation_header{
            position: absolute;
            flex-direction: column !important;
            top: 0;
            background: #fff;
            height: 100%;
            width: 35vw;
            padding: 1em;
            animation-duration: 1s;
            margin-left: -100vw;
        }
        .btn_icon_header{
            display: block;
        }
    }
    @keyframes showSidebar {
        from {margin-left: -100vw;}
        to {margin-left: -10vw;}
    }
}

main{
    section{
        margin-top: 10rem;
        margin-bottom: 10rem;
        .btn{
            color: white;
            background-color: $corPrincipal;
            border-radius: 0.5rem;
            padding: 1rem;
            padding-left: 2rem;
            padding-right: 2rem;
            font-size: 1rem;
            border: none;
        }
        .col{
            width: 50%;
            button{
                display: flex;
                align-items: center;
                img{
                    width: 1.5rem;
                    margin-right: 0.5rem;
                }
            }
            h5{
                font-size: 1rem;
                margin-bottom: 1rem;
            }
            h2{
                font-size: 2rem;
                margin-bottom: 1rem;
            }
        }
        .col-list{
            .list{
                display: flex;
                flex-direction: row;
                margin-bottom: 1rem;
                h4{
                    color: $textColor;
                }
                img{
                    width: 2vw;
                    margin-right: 1rem;
                }
            }
        }
        .img1{
            width: 40vw;
            -webkit-box-shadow: 60px -25px 0px 5px $corImg;
            -moz-box-shadow: 60px -25px 0px 5px $corImg;
            box-shadow: 60px -25px 0px 5px $corImg;
        }
        .img2{
            width: 40vw;
            -webkit-box-shadow: -54px -81px 0px -54px $corImg;
            -moz-box-shadow: -54px -81px 0px -54px $corImg;
            box-shadow: -54px -81px 0px -54px $corImg;
        }
    }
    .container-service{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-left: 10vw;
        margin-right: 10vw;
        .row-card{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 3rem;
            .card{
                width: 20vw;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 2rem;
                margin-left: 1rem;
                -webkit-box-shadow: 0px -12px 8px -7px rgba(0,0,0,0.09);
                -moz-box-shadow: 0px -12px 8px -7px rgba(0,0,0,0.09);
                box-shadow: 0px -12px 8px -7px rgba(0,0,0,0.09);
                border-bottom: $corPrincipal 5px solid;
                h5{
                    text-align: center;
                }
                img{
                    width: 5vw;
                }
            }
        }
    }
}

footer{
    background-color: $corPrincipal;
    padding-top: 5rem;
    padding-bottom: 5rem;
    span{
        color: #ffffff;
    }
    section{
        margin-left: 10vw;
        margin-right: 10vw;
        h2{
            font-size: 2rem;
            margin-bottom: 1.5rem;
        }
        h6{
            color: #fff;
            margin-top: 0.5rem;
        }
        .col-footer{
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 2vw;
                margin: 1rem;
            }
        }
    }
}

@media screen and (max-width: 820px) {
    .container{
        display: flex;
        flex-direction: column-reverse;
        margin-left: 0%;
        margin-right: 0%;
        margin-top: 4rem;
        text-align: center;
        align-items: center;
        .col{
            display: flex;
            flex-direction: column;
            align-items: center;
            button{
                width: 70%;
                text-align: center;
            }
        }
        .img1{
            width: 90%;
            box-shadow: 15px -25px 0px 5px $corImg;
        }
    }
    .container-about{
        display: flex;
        flex-direction: column;
        margin-top: 6rem;
        .col{
            display: flex;
            width: 100%;
        }
        .img2{
            width: 100%;
        }
        .col-about{
            margin-left: 10vw;
            margin-right: 10vw;
            h2{
                margin-top: 2rem;
                margin-bottom: 1rem;
            }
        }
    }
    .container-service{
        display: flex;
        flex-direction: column;
        .row-card{
            display: flex;
            flex-direction: column;
        }
    }
}